.App {
  text-align: center;
}

body{
  margin:0;
  padding: 0;
  background-image: url('/public/img/map.jpg');
  background-size: cover;
  box-sizing:boder-box;
  background-repeat:no-repeat;
  background-attachment:fixed;
}